//fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swa);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);

@font-face {
  font-family: "Scunthorpe";
  src: url("../../public/scunthorpe-sans.woff") format("woff"); /* Pretty Modern Browsers */
}

//files;
@import "./layout";
@import "./nav";
@import "./article";
@import "./colors";
@import "./inputs";
@import "./opacity";
@import "./margin_padding";
@import "./buttons";
@import "./hero";
@import "./utilities";
@import "./avatar";
@import "./animista.scss";
@import "./social.scss";
@import "./tags.scss";
@import "./stats.scss";
@import "./suggest.scss";

@for $i from 1 through 6 {
  h#{7 - $i} {
    font-size: $i * 1.4em;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  @extend .is-black;
}

body {
  min-height: calc(100vh-38px);
}

body.light-mode {
  @extend .is-light-grey-bg;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

main {
  min-height: calc(100vh - 300px);
}

p {
  font-family: Lato;
  font-weight: lighter;
}

h1 {
  display: block;
  font-family: Lato;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
}

h2 {
  display: block;
  font-family: Lato;
  font-size: 1.5em;

  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.83em;
}

h3 {
  display: block;
  font-family: Lato;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

h4 {
  display: block;
  font-family: Lato;
  font-size: 1em;

  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.33em;
}

h5 {
  display: block;
  font-family: Lato;
  font-size: 0.83em;
  font-weight: bold;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.67em;
}

h6 {
  display: block;
  font-family: Lato;
  font-size: 0.67em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2.33em;
}

hr {
  margin-bottom: 1vw;
  margin-top: 2vw;
}

div {
  display: block;
}

footer {
  font-family: Lato;
  text-align: center;
}

.legal {
  font-size: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:hover {
  @extend .is-special-blue;
}

.smut {
  font-family: Scunthorpe;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
}

.list-shadow-light {
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
.list-shadow-dark {
  -webkit-box-shadow: 0 0 20px 5px rgba(200, 200, 200, 0.25);
  box-shadow: 0 0 20px 5px rgba(200, 200, 200, 0.25);
}
